# --- Node / Vite ---
node_modules/
.vite/
npm-debug.log*
static/dist/

# --- Archivos de desarrollo ---
error.log
php_error.log
*.log
.env
.phpintel/
vendor/
includes/library/rachet/

# --- Archivos temporales o pesados ---
*.zip

# --- Archivos de subidas ---
filestore/images/*
filestore/uploads/avatar/*
filestore/uploads/products/*
filestore/uploads/carousel/*

!.gitkeep
